

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 41, 46) !important;
    scroll-behavior: smooth;
}

:root{
	--mainColor:rgb(36, 41, 46) !important;
	--secondaryColor:rgb(36, 41, 46) !important;

	--borderColor:white;

	--mainText:white;
	--secondaryText:rgba(241, 241, 233, 0.8);

	--themeDotBorder:#f0ead6;

	--previewBg:rgba(241, 241, 233, 0.8);
	--previewShadow:#f9f7d9;


	--buttonColor:black;


}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}


ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
	display: block;
	margin:0 auto;

	height: 190px;
	width: 160px;
	object-fit: cover;
	border:2px solid var(--borderColor);
}

/* projects */
.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.post-preview{
	background-color: rgb(14, 4, 4);
	padding:15px;
}

.post-title{
	color:#ffe4e4;
	margin: 0;
}

.post-intro{
	color:#f9f7d9;
	font-size: 14px;
}

/*--------================================-----------*/ 

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	
}

#skills{
    
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

#skills li{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    color: #4b5156;
}

ul{
padding: 0;
list-style-type: none;
}

.social-links ul,li{
list-style-type: none;
display: inline-block;
}


.social{
    width: 30px;
    height: 30px;
    object-fit: cover;
    
    border-radius: 50%;
    }

#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: rgb(36, 41, 46) !important;;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}

#cards{
	border: 2px solid rgb(24, 26, 31);
	border-radius: 5px;
    background-color: rgb(49, 54, 63) !important;
}

#cards>hr{
    background-color: white;
}

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}
